* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
    font-family: Aril, Tahoma, sans-serif;
    color: #44525e;
}

p {
    margin: 0;
}

h1 {

}

h3 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

h3 span {
    color: #ff7013;
}

.section-description {
    text-align: center;
}

.container {
    width: 1200px;
    margin:10px auto;
}
.row{
    margin: 0 -1.25%;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}


/* ---------------F__O__O__T__E__R-------- */
.site-footer{
    background: #fff;
    padding: 60px 0 44px 0;
    font-size: 14px;
    color: #28313b;
}
.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4{
    font-size: 16px;
    color: #ff5912;
}
.block-370{
    width: 30.83333%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-770{
    width: 64.16666%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-170{
    width: 14.166666%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.red{
    background: red;
}
.copyright{
    margin-top: 20px;
}
ul.footer-nav a{
    color: #28313b;
    text-decoration: none;
}
ul.footer-nav a:hover{
    color: #ff5912;
    text-decoration: none;
}
ul.footer-nav .active:hover{
    color: #ff5912;
}
ul.footer-nav li{
    margin-bottom: 20px;
}
.payment-img{
    width: 25px;
    height: 17px;
    background-image: url(../images/payment_bg.png);
    background-position: -1px -1px;
    display: inline-block;
}
.amex{
    background-position: -1px -1px;
}
.second{
    background-position: -36px -1px;
}
.visa{
    background-position: -72px -1px;
}
.mastercard{
    background-position: -108px -1px;
}
.gray{
    background-position: -144px -11px;
}


/* ------------HEADER------------- */

.site-header{
    min-height: 180px;
    background: #fff;
}
.site-header a{
    text-decoration: none;
    color: #34404b;
}
.header-line{
    min-height: 60px;
    border-bottom: 1px solid #edeff1;
}

.main-logo{
    margin-top: 30px;
}
.main-logo ul:after{
    content: '';
    display: block;
    clear: both;
}
.main-nav li{
    float: left;
    list-style: none;
    margin: 22px 15px;
}
.main-nav .active a:hover{
    color: #ff5912;
}
.ico-line{
    margin-top: 38px;
}
.ico-line img{
    margin: 0 12px;
}
.cart{
    position: relative;
}
.ico-line a div.cart-count{
    display: block;
    width: 16px;
    height: 16px;
    background: #34404b;
    position: absolute;
    top: -18px;
    left: 16px;
    border-radius: 100%;
    color: #fff;
    font-size: 11px;
    text-align: center;
}